<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>dogs</description>
        <param-name>breeds</param-name>
        <param-value>Guardian Dog, Notthern Breed, Scenthoud, Gun Dog, Scenthoud</param-value>
    </context-param>
    <servlet>
        <servlet-name>ListenerTester</servlet-name>
        <servlet-class>com.Servlet.ListenerTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListenerTester</servlet-name>
        <url-pattern>/ListenerTester</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
